<div class="main-title">
  <div class="title">
    <% if @filtered_query.present? %>
      <h1><%= t('.title_search') %> "<%= @filtered_query.title %>"</h1>
    <% else %>
      <h1><%= t('.title') %></h1>
    <% end %>
  </div>
</div>

<% if @filtered_query.present? %>
  <%= render partial: 'filter_search_form', locals: { filtered_query: @filtered_query, current_path: trips_path, category: nil } %>
<% end %>

<div class="cards">
  <% if @trips.any? %>
    <ul class="cards__list bare-list">
      <% @trips.each do |trip| %>
        <%= render partial: 'trip_card', locals: { trip: trip } %>
      <% end %>
    </ul>

    <%= paginate @trips, window: 1 %>
  <% else %>
    <p class="not-found"><%= t('.not_found') %></p>
  <% end %>
</div>
