<% if @trip.stages.count > 1  %>
  <% content_for :meta_tag do %>
    <meta name="directions" value="<%= merge_stages_directions(@trip) %>" />
    <meta name="travelMode" value="<%= @trip.stages.second.travel_type %>" />
  <% end %>
<% end %>

<div class="main-title">
  <div class="title">
    <h1><%= @trip.title %></h1>
  </div>
</div>

<div class="resource-show">
  <div class="resource-show__media">
    <%= image_set_tag @trip.image_url,
                      { 
                        @trip.image_url(:thumb) => '300w',
                        @trip.image_url => '600w'
                      },
                      sizes: '100vw', alt: "Trip #{@trip.id} image", class: 'image' %>
    <div class="map" id="map">
      <% if logged_in? %>
        <% case @trip.stages.count
           when 0 %>
          <%= render partial: 'map_unavailable', locals: { message: t('.map_no_stage') } %>
        <% when 1 %>
          <%= render partial: 'embeded_map', locals: { address: @trip.stages.first.address, width: '100%', height: '100%', class_name: nil } %>
        <% else %>
          <%= render partial: 'js_map', locals: { callback: 'initTripMap' } %>
        <% end %>
      <% else %>
        <%= render partial: 'map_unavailable', locals: { message: t('.map_not_logged_in') } %>
      <% end %>
    </div>
  </div>
  
  <div class="resource-show__info">
    <div class="owner">
      <span><%= t('ownership.created_by') %></span>
      <%= link_to user_link_path(@trip.user), class: "link link--user #{user_link_class(@trip.user)}" do %>
        <%= image_tag @trip.user.avatar_url(:small), class: 'avatar avatar--mini' %>
        <span><%= @trip.user.name %></span>
      <% end %>
      <span><time datetime="<%= @trip.created_at.strftime("%FT%T") %>"><%= l(@trip.created_at) %></time></span>
    </div>

    <p class="description">
      <%= raw @trip.description %>
    </p>

    <ul class="tags-list bare-list">
      <li class="tag"><%= t("categories.#{@trip.category_1}") %></li>
      <li class="tag"><%= t("categories.#{@trip.category_2}") %></li>
      <% if @trip.user == current_user %>
        <li class="tag"><%= t('tags.owner') %></li>
      <% end %>
      <% if @trip.dreamers.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.todo') %></li>
      <% elsif @trip.travelers.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.current') %></li>
      <% elsif @trip.veterans.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.completed') %></li>
      <% end %>
    </ul>

    <ul class="details">
      <li><span class="variable"><%= t('activerecord.attributes.trip.continent') %>:</span> <span class="value"><%= display_attribute(@trip.continent, true) %></span></li>
      <li><span class="variable"><%= t('activerecord.attributes.trip.country') %>:</span> <span class="value"><%= display_attribute(get_country_name(@trip.country)) %></span></li>
      <li><span class="variable"><%= t('activerecord.attributes.trip.region') %>:</span> <span class="value"><%= display_attribute(get_region_name(@trip.country, @trip.region)) %></span></li>
      <li><span class="variable"><%= t('activerecord.attributes.trip.city') %>:</span> <span class="value"><%= display_attribute(@trip.city) %></span></li>
      <li><span class="variable"><%= t('trip_card.planned') %>:</span> <span class="value"><%= @trip.dreamers.length %></span></li>
      <li><span class="variable"><%= t('trip_card.doing') %>:</span> <span class="value"><%= @trip.travelers.length %></span></li>
      <li><span class="variable"><%= t('trip_card.done') %>:</span> <span class="value"><%= @trip.veterans.length %></span></li>
      <li><span class="variable"><%= t('comments.title') %>:</span> <span class="value"><%= @trip.comments.length %></span></li>
    </ul>
  </div>

  <% if @trip.stages.any? %>
    <div class="stages-list">
      <h3 class="stages-list__title"><%= t('.trip_stages') %> <a href="#" class="link" id="hide-show-toggle">show</a></h3>
      <ul class="bare-list list-color" id="hide-show-content" style="display: none;">
        <% @trip.stages.each do |stage| %>
          <li class="stages-list__stage">
            <%= link_to trip_stage_path(@trip, stage) do %>
              <h4><%= t('.stage') %> <%= stage.number %>: <%= stage.title %></h4>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if logged_in? %>
    <div class="resource-show__nav buttons-group">
      <% if is_a_current_user_todo?(@trip) %>
        <%= render partial: 'todo_delete_button', locals: { user: current_user, todo: current_user_to_do(@trip.id) } %>
      <% else %>
        <%= render partial: 'todo_create_button', locals: { user: current_user, trip_id: @trip.id } %>
      <% end %>
      <% if can_edit?(@trip) %>
        <%= link_to t('links.edit'), edit_trip_path(@trip), class: 'btn' %>
        <%= link_to t('.new_stage'), new_trip_stage_path(@trip), class: 'btn' %>
        <% if @trip.stages.any? %>
          <%= link_to t('.reorder_stages'), trip_stages_path(@trip), class: 'btn' %>
        <% end %>
        <%= link_to t('links.delete'), trip_path(@trip), class: 'btn btn--secondary', method: :delete, data: { confirm: t('notices.are_you_sure') } %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'comments/comments', locals: { article: @trip } %>
