<div class="envelope">
  <div class="envelope__border">
    <div class="main-title">
      <div class="title">
        <h1><%= t('.title') %></h1>
      </div>
    </div>
    
    <%= form_tag login_path, class: 'form' do %>
      <div class="form__input">
        <div class="input-group">
          <%= label_tag 'email', t('.email'), class: 'input-label' %>
          <%= email_field_tag 'email', nil, class: 'input-field', placeholder: 'e.g. peterparker@oscorp.com' %>
        </div>
        <div class="input-group">
          <%= label_tag 'password', t('.password'), class: 'input-label' %>
          <%= password_field_tag 'password', nil, class: 'input-field' %>
        </div>
      </div>
      <div class="prompt">
        <%= button_tag t('.submit'), class: 'btn btn--primary' %>
      </div>
    <% end %>
  </div>
</div>
