<li class="card" id="trip-id-<%= trip.id %>">
  <%= link_to trip_path(trip), class: 'card__thumb' do %>
    <%= image_set_tag trip.image_url(:thumb),
                      { 
                        trip.image_url(:thumb) => '300w',
                        trip.image_url => '600w'
                      },
                      sizes: '100vw', alt: "Trip #{trip.id} image", class: 'card__image' %>
    <div class="card__intro">
      <h3 class="card__title"><%= trip.title %></h3>
      <h4 class="card__subtitle"><%= trip.category_1 %> / <%= trip.category_2 %></h4>
      <ul class="card__info bare-list">
        <li>Done <%= trip.veterans.length %></li>
        <li>Doing <%= trip.travelers.length %></li>
        <li>Planned <%= trip.dreamers.length %></li>
      </ul>
    </div>
    <ul class="card__tags tags-list bare-list">
      <% if trip.user == current_user %>
        <li class="tag">Owner</li>
      <% end %>
      <% case current_page
         when 'todolist' %>
        <li class="tag" data-status="true">ToDo</li>
      <% when 'travels' %>
        <li class="tag" data-status="true">Curent</li>
      <% when 'success' %>
        <li class="tag" data-status="true">Completed</li>
      <% end %>
    </ul>
  <% end %>
  <div class="card__footer buttons-group">
    <% case current_page
       when 'todolist' %>
      <%= render partial: 'todo_update_button', locals: { trip: trip, transition: 'traveling' } %>
    <% when 'travels' %>
      <%= render partial: 'todo_update_button', locals: { trip: trip, transition: 'arrived' } %>
      <%= render partial: 'todo_update_button', locals: { trip: trip, transition: 'cancel' } %>
    <% when 'success' %>
      <%= render partial: 'todo_update_button', locals: { trip: trip, transition: 'cancel' } %>
    <% end %>
    <%= link_to 'Remove', user_to_do_path(current_user, current_user_to_do(trip.id)), class: 'btn btn--secondary', method: :delete, remote: true %>
  </div>
</li>
