<li class="card" id="trip-id-<%= trip.id %>">
  <%= link_to trip_path(trip), class: 'card__thumb' do %>
    <%= image_set_tag trip.image_url(:thumb),
                      { 
                        trip.image_url(:thumb) => '300w',
                        trip.image_url => '600w'
                      },
                      sizes: '100vw', alt: "Trip #{trip.id} image", class: 'card__image' %>
    <div class="card__intro">
      <h3 class="card__title"><%= trip.title %></h3>
      <h4 class="card__subtitle"><%= t("categories.#{trip.category_1}") %> / <%= t("categories.#{trip.category_2}") %></h4>
      <ul class="card__info bare-list">
        <li><%= t('trip_card.done') %> <%= trip.veterans.length %></li>
        <li><%= t('trip_card.doing') %> <%= trip.travelers.length %></li>
        <li><%= t('trip_card.planned') %> <%= trip.dreamers.length %></li>
      </ul>
    </div>
    <ul class="card__tags tags-list bare-list">
      <% if trip.user == current_user %>
        <li class="tag"><%= t('tags.owner') %></li>
      <% end %>
      <% case current_page
         when 'todolist' %>
        <li class="tag" data-status="true"><%= t('tags.todo') %></li>
      <% when 'travels' %>
        <li class="tag" data-status="true"><%= t('tags.current') %></li>
      <% when 'success' %>
        <li class="tag" data-status="true"><%= t('tags.completed') %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="card__footer buttons-group">
    <% case current_page
       when 'todolist' %>
      <%= render partial: 'todo_update_button', locals: { user: current_user, todo: current_user_to_do(trip.id), transition: 'traveling' } %>
    <% when 'travels' %>
      <%= render partial: 'todo_update_button', locals: { user: current_user, todo: current_user_to_do(trip.id), transition: 'arrived' } %>
      <%= render partial: 'todo_update_button', locals: { user: current_user, todo: current_user_to_do(trip.id), transition: 'cancel' } %>
    <% when 'success' %>
      <%= render partial: 'todo_update_button', locals: { user: current_user, todo: current_user_to_do(trip.id), transition: 'cancel' } %>
    <% end %>
    <%= render partial: 'todo_delete_button', locals: { user: current_user, todo: current_user_to_do(trip.id) } %>
  </div>
</li>
