<%= form_for [article, comment], html: { id: "comment_id_#{comment.id}", class: 'media comment comment-form' }, data: { 'user-id' => comment.user_id } , remote: true do |form| %>
  <div class="media__image">
    <%= link_to user_path(comment.user) do %>
      <%= image_tag comment.user.avatar_url, class: 'avatar avatar--medium' %>
    <% end %>
  </div>
  <div class="media__content">
    <div class="media__title">
      <%= link_to user_path(comment.user) do %>
        <h3 class="user"><%= comment.user.name %></h3>
      <% end %>
      <span class="date"><time datetime="<%= comment.created_at.strftime("%FT%T")%>"><%= t('comments.date', time: time_ago_in_words(comment.created_at)) %></time></span>
    </div>
    <div class="media__body">
      <%= form.label :body, t('comments.edit_comment'), for: "edit-comment-#{comment.id}", class: 'input-label' %>
      <%= form.text_area :body, class: 'input-field input-field--textarea', id: "edit-comment-#{comment.id}", maxlength: 500, placeholder: 'Max 500 characters...' %>
    </div>
    <div class="media__action">
      <%= link_to t('links.cancel'), comment_path(comment), class: 'link', remote: true, method: :get %>
      <%= form.submit class: 'btn btn--primary' %>
    </div>
  </div>
<% end %>