<%= form_for [article, Comment.new], html: { class: 'media comment-form' }, remote: true do |form| %>
  <div class="media__image">
    <%= image_tag current_user.avatar_url, class: 'avatar avatar--medium' %>
  </div>
  <div class="media__content">
    <div class="media__title">
      <%= form.label :body, t('comments.add_comment'), class: 'input-label' %>
    </div>
    <div class="media__body">
      <%= form.text_area :body, class: 'input-field input-field--textarea', maxlength: 300, placeholder: 'Max 300 characters...' %>
    </div>
    <div class="media__action comment-form__prompt">
      <%= form.submit class: 'btn btn--primary' %>
    </div>
  </div>
<% end %>
