<%= form_for [article, Comment.new], class: 'comment-form', remote: true do |form| %>
  <div class="media-image">
    <%= image_tag current_user.avatar_url, class: 'avatar' %>
  </div>
  <div class="media-content">
    <%= form.label :body, 'Add comment', class: 'input-label' %>
    <%= form.text_area :body, class: 'input-field' %>
  </div>
  <div class="prompt">
    <%= form.submit 'Post', class: 'btn' %>
  </div>
<% end %>
