<li class="card card--user" id="user-id-<%= user.id %>">
  <%= link_to user_path(user), class: 'card__thumb' do %>
    <div class="card__avatar">
    	<%= image_tag user.avatar_url, alt: "User #{user.id} avatar", class: 'card__image avatar' %>
    </div>
    <div class="card__intro">
      <h3 class="card__title"><%= user.name %></h3>
      <h4 class="card__subtitle"><%= user.email %></h4>
      <ul class="card__info bare-list">
        <li><%= t('user_card.created', trip: pluralize_better(t('user_card.trip'), user.trips.length), number: user.trips.length) %></li>
        <li><%= t('user_card.completed', trip: pluralize_better(t('user_card.trip'), user.success.length), number: user.success.length) %></li>
        <li><%= t('user_card.current', trip: pluralize_better(t('user_card.trip'), user.travels.length), number: user.travels.length) %></li>
        <li><%= t('user_card.to_do', trip: pluralize_better(t('user_card.trip'), user.dreams.length), number: user.dreams.length) %></li>
        <li><%= t('user_card.leaved', comment: pluralize_better(t('user_card.comment'), user.comments.length), number: user.comments.length) %></li>
      </ul>
    </div>
    <ul class="card__tags tags-list bare-list">
      <% if user == current_user %>
        <li class="tag"><%= t('tags.you') %></li>
      <% end %>
      <% if user.role == 'admin' %>
        <li class="tag"><%= t('tags.admin') %></li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user.role == 'admin' %>
    <div class="card__footer buttons-group">
      <%= link_to t('user_card.edit'), edit_user_path(user), class: 'btn' %>
      <%= link_to t('user_card.delete'), user_path(user), class: 'btn btn--secondary', method: :delete, remote: remote_delete?(user, remote_delete), data: { confirm: t('notices.are_you_sure') } %>
    </div>
  <% end %>
</li>
