<div class="main-title">
  <div class="title">
    <h1><%= t('.title') %></h1>
  </div>
  <%= render partial: 'sub_nav', locals: { current: 'account' } %>
</div>

<div class="account">
  <div class="account__details">
    <h2 class="name">
      <%= current_user.name %>
      <% if account_not_updated? %>
        <span class="name-info"><%= t('.name_info') %></span>
      <% end %>
    </h2>
    <h3 class="email"><%= current_user.email %></h3>
    <ul class="action bare-list">
      <li><%= link_to t('links.edit'), edit_account_path, class: 'btn' %></li>
      <li><%= link_to t('links.delete'), account_path, class: 'btn btn--secondary', method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% if current_user.role == 'admin' %>
        <li class="tag"><%= t('tags.admin') %></li>
      <% end %>
    </ul>
  </div>
  <%= image_tag current_user.avatar_url, class: 'avatar', alt: "#{current_user.name} avatar" %>
  
  <ul class="account__stats list-color">
    <li><span class="text"><%= t('.trips_created') %>:</span> <span class="count"><%= current_user.trips.count %></span></li>
    <li><span class="text"><%= t('.trips_todo') %>:</span> <span class="count"><%= current_user.dreams.count %></span></li>
    <li><span class="text"><%= t('.trips_current') %>:</span> <span class="count"><%= current_user.travels.count %></span></li>
    <li><span class="text"><%= t('.trips_done') %>:</span> <span class="count"><%= current_user.success.count %></span></li>
    <li><span class="text"><%= t('comments.title') %>:</span> <span class="count"><%= current_user.comments.count %></span></li>
  </ul>
</div>
