<div class="main-title">
  <div class="title">
    <% if @queries.present? %>
      <h1><%= @category.capitalize %> Trips that match "<%= @queries.join(' ') %>"</h1>
    <% else %>
      <h1>All <%= @category.capitalize %> Trips</h1>
    <% end %>
  </div>
</div>

<div class="cards">
  <% if @trips.any? %>
    <ul class="cards__list bare-list">
      <% @trips.each do |trip| %>
        <%= render partial: 'trip_card', locals: { trip: trip } %>
      <% end %>
    </ul>

    <%= paginate @trips, window: 1 %>
  <% else %>
    <p class="not-found">No trip found.</p>
  <% end %>
</div>
