<div class="main-title">
  <div class="title">
    <% if @queries.present? %>
      <h1><%= t('.title_search', category: t("categories.#{@category}")) %> "<%= @queries.join(' ') %>"</h1>
    <% else %>
      <h1><%= t('.title', category: t("categories.#{@category}")) %></h1>
    <% end %>
  </div>
</div>

<div class="cards">
  <% if @trips.any? %>
    <ul class="cards__list bare-list">
      <% @trips.each do |trip| %>
        <%= render partial: 'trip_card', locals: { trip: trip } %>
      <% end %>
    </ul>

    <%= paginate @trips, window: 1 %>
  <% else %>
    <p class="not-found"><%= t('.not_found') %></p>
  <% end %>
</div>
