<li class="card" id="trip-id-<%= trip.id %>">
  <%= link_to trip_path(trip), class: 'card__thumb' do %>
    <%= image_set_tag trip.image_url(:thumb),
                      { 
                        trip.image_url(:thumb) => '300w',
                        trip.image_url => '600w'
                      },
                      sizes: '100vw', alt: "Trip #{trip.id} image", class: 'card__image' %>
    <div class="card__intro">
      <h3 class="card__title"><%= trip.title %></h3>
      <h4 class="card__subtitle"><%= t("categories.#{trip.category_1}") %> / <%= t("categories.#{trip.category_2}") %></h4>
      <ul class="card__info bare-list">
        <li><%= t('trip_card.done') %> <%= trip.veterans.length %></li>
        <li><%= t('trip_card.doing') %> <%= trip.travelers.length %></li>
        <li><%= t('trip_card.planned') %> <%= trip.dreamers.length %></li>
      </ul>
    </div>
    <ul class="card__tags tags-list bare-list">
      <li class="tag"><%= t('tags.owner') %></li>
      <% if trip.dreamers.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.todo') %></li>
      <% elsif trip.travelers.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.current') %></li>
      <% elsif trip.veterans.include?(current_user) %>
        <li class="tag" data-status="true"><%= t('tags.completed') %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="card__footer buttons-group">
    <% if !is_a_current_user_todo?(trip) %>
      <%= render partial: 'todo_create_button', locals: { user: current_user, trip_id: trip.id } %>
    <% end %>
    <%= link_to t('trip_card.edit'), edit_trip_path(trip), class: 'btn' %>
    <%= link_to t('trip_card.delete'), trip_path(trip), class: 'btn btn--secondary', method: :delete, remote: true, data: { confirm: t('notices.are_you_sure') } %>
  </div>
</li>
