<div class="sub-nav">
  <ul class="bare-list">
    <li><%= link_to t('links.account'), sub_nav_link_path(account_path, current, 'account'), class: "link link--subnav #{current_class(current, 'account')}" %></li>
    <li><%= link_to t('links.mytrips'), sub_nav_link_path(account_trips_path, current, 'trips'), class: "link link--subnav #{current_class(current, 'trips')}" %></li>
    <li><%= link_to t('links.todolist'), sub_nav_link_path(account_todolist_path, current, 'todolist'), class: "link link--subnav #{current_class(current, 'todolist')}" %></li>
    <li><%= link_to t('links.current_travels'), sub_nav_link_path(account_travels_path, current, 'travels'), class: "link link--subnav #{current_class(current, 'travels')}" %></li>
    <li><%= link_to t('links.completed_travels'), sub_nav_link_path(account_success_path, current, 'success'), class: "link link--subnav #{current_class(current, 'success')}" %></li>
  </ul>
</div>
