<li class="card" id="trip-id-<%= trip.id %>">
  <%= link_to trip_path(trip), class: 'card__thumb' do %>
    <%= image_set_tag trip.image_url(:thumb),
                      { 
                        trip.image_url(:thumb) => '300w',
                        trip.image_url => '600w'
                      },
                      sizes: '100vw', alt: "Trip #{trip.id} image", class: 'card__image' %>
    <div class="card__intro">
      <h3 class="card__title"><%= trip.title %></h3>
      <h4 class="card__subtitle"><%= trip.category_1 %> / <%= trip.category_2 %></h4>
      <ul class="card__info bare-list">
        <li>Done <%= trip.veterans.length %></li>
        <li>Doing <%= trip.travelers.length %></li>
        <li>Planned <%= trip.dreamers.length %></li>
      </ul>
    </div>
    <% if logged_in?%>
      <ul class="card__tags bare-list">
        <% if trip.user == current_user %>
          <li class="tag">Owner</li>
        <% end %>
        <% if trip.dreamers.include?(current_user) %>
          <li class="tag" data-status="true">ToDo</li>
        <% end %>
        <% if trip.travelers.include?(current_user) %>
          <li class="tag" data-status="true">Current Trip</li>
        <% end %>
        <% if trip.veterans.include?(current_user) %>
          <li class="tag" data-status="true">Completed</li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <% if logged_in? %>
    <div class="card__footer buttons-group">
      <% if is_a_current_user_todo?(trip) %>
        <%= render partial: 'todo_delete_button', locals: { user: current_user, todo: current_user_to_do(trip.id) } %>
      <% else %>
        <%= render partial: 'todo_create_button', locals: { user: current_user, trip_id: trip.id } %>
      <% end %>
      <% if can_edit?(trip) %>
        <%= link_to 'Edit Trip', edit_trip_path(trip), class: 'btn' %>
      <% end %>
    </div>
  <% end %>
</li>
