<!DOCTYPE html>
<html>
  <head>
    <title>WhereToGoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="current-user" id="<%= current_user.try(:id) %>">
  </head>

  <body>
  
    <header class="global-header">
      <div class="content-wrapper">
        <div class="logo">
          <%= link_to root_path do %>
            <span>Where<em>To</em>Go</span>
          <% end %>
        </div>

        <%= form_tag trips_path, method: :get, class: 'search-box' do %>
          <div class="input-group">
            <%= label_tag 'q', 'Search', class: 'input-group__label sr-only' %>
            <div class="input-group__row">
              <%= text_field_tag 'q', nil, class: 'input-group__field', placeholder: 'e.g. mountain trip' %>
              <%= button_tag 'Search', name: nil, class: 'btn btn--primary' %>
            </div>
          </div>
        <% end %>

        <% case current_user_role
           when 'anonymous' %>
          <%= render partial: 'anonymous_user_nav' %>
        <% when 'registered' %>
          <%= render partial: 'registered_user_nav' %>
        <% when 'admin' %>
          <%= render partial: 'admin_user_nav' %>
        <% end %>
      </div>
    </header>

    <main id="alert-insertion">
      <% if alert || notice %>
        <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
      <% end %>

      <div class="content-wrapper">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="content-wrapper">
        <div class="logo">

        </div>
        <div class="locales">

        </div>
      </div>
    </footer>

  </body>
</html>
