<!DOCTYPE html>
<html>
  <head>
    <title>WhereToGoApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="current-user" id="<%= current_user.try(:id) %>" />
    <%= yield :meta_tag %>
  </head>

  <body>
  
    <header class="<%= yield :banner %>">
      <div class="global-header" id="alert-insertion">
        <div class="content-wrapper">
          <div class="logo <%= yield :logo %>">
            <%= link_to root_path do %>
              <span>Where<em>To</em>Go</span>
            <% end %>
          </div>
  
          <%= form_tag trips_path, method: :get, class: 'search-box' do %>
            <div class="input-group">
              <%= label_tag 'q', t('.search.label'), class: 'input-label sr-only' %>
              <div class="input-group__row">
                <%= text_field_tag 'q', nil, class: 'input-field', placeholder: 'e.g. mountain trip' %>
                <%= button_tag t('search.button'), name: nil, class: 'btn btn--primary' %>
              </div>
            </div>
          <% end %>
  
          <% case current_user_role
             when 'anonymous' %>
            <%= render partial: 'anonymous_user_nav' %>
          <% when 'registered' %>
            <%= render partial: 'registered_user_nav' %>
          <% when 'admin' %>
            <%= render partial: 'admin_user_nav' %>
          <% end %>
        </div>
      </div>

      <% if alert || notice %>
        <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
      <% end %>

      <%= yield :header %>
    </header>

    <main>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </main>

    <footer class="global-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted">
          <%= link_to root_path do %>
            <span>Where<em>To</em>Go</span>
          <% end %>
        </div>
        <ul class="locales bare-list">
          <% I18n.available_locales.each do |locale| %>
            <li><%= link_to locale, url_for(locale: locale), class: 'link link--foot' %></li>
          <% end %>
        </ul>
        <p class="copyright">&copy; Mathieu Clément</p>
      </div>
    </footer>

  </body>
</html>
