<!DOCTYPE html>
<html>
  <head>
    <title>WhereToGoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="content-wrapper">
      <div class="logo">
        <%= link_to root_path do %>
          <span>WhereToGo</span>
        <% end %>
      </div>

      <form action="" class="search-box">

      </form>

      <nav class="global-nav">
        <ul>
          <li><%= link_to 'Log In', login_path %></li>
          <li><%= link_to 'Sign Up', signup_path %></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <body>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="content-wrapper">
      <div class="logo">

      </div>
      <div class="locales">

      </div>
    </div>
  </footer>
</html>
